# =========================================================
# A Baía do Homem Morto - Dependências do Projeto
# =========================================================
# Compatível com Python 3.10+
# =========================================================

pygame>=2.6.1
